<!DOCTYPE html>
<html>
<head>
   <title>Loja de camisetas</title>
   <%= csrf_meta_tags %>
   <%= csp_meta_tag %>
   <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
   <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<nav class="navbar navbar-light bg-light justify-content-between">
 <a class="navbar-brand" href="<%=root_url%>">Loja de camisetas</a>
 
    <%= form_tag busca_produto_path, method: :get, class: "navbar-form navbar-right" do %> 
    <div class= "form-inline mx-auto"> 
      <%= text_field_tag :nome, @nome_a_buscar, placeholder: 'Search', class: "form-control mr-sm-2" %> 
      <%= button_to "Buscar", nil, class: "btn btn-outline-secondary my-2 my-sm-0" %> 
   </div> 
   <%end%> 



</nav>



<div class="container">
   <body>
      <%= yield %>
   </body>
</div>
</html>